# =========================
# CORE
# =========================
pandas
numpy

# =========================
# NLP
# =========================
spacy
nltk
scikit-learn

# =========================
# PDF PROCESSING
# =========================
pdfplumber
PyPDF2

# =========================
# MACHINE LEARNING
# =========================
scikit-learn
joblib

# =========================
# DASHBOARD
# =========================
streamlit
plotly

# =========================
# VALIDATION / UTILS
# =========================
pydantic

# =========================
# TESTING
# =========================
pytest